*{
    margin: 0;
    box-sizing: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
} 
   

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    background: #fff;
    

}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px, 100px;
    display: flex;
    justify-content: space-between;
   
   
}
header ul{
    position: relative;
    display: flex;
}
header ul li {
    list-style: none;

} 
header ul li a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    border-radius: 40px;
    
}

.conten{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.conten .textbox {
    position: relative;
    max-width: 600px;
}
.conten .textbox h1 {
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 500;
}
.conten .textbox h1 span{
    color: #017143;
    font-size: 1.5em;
    font-weight: 900;
}